/**
*	NAME: Aaron Meek
*	DATE: 2022 - 08 - 15
*
*	This contains some basic styling
 */

.my-footer {
    height: 5em;
    margin-top: 1em;
    text-align: center;
    color: #F1FAEE;
}

.my-form {
    min-width: 15em;
    max-width: 30%;
}