{{template "base" .}}

{{define "content"}}
<div class="container">
    <h1 class="mt-2">About</h1>
    <div class="row g-3">

        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">The Website</h5>
                </div>
                <div class="card-body">This website was developed using the Go programming language for its
                    back-end, and html template processing. The website uses <a
                        href="https://getbootstrap.com/">Bootstrap</a>, and some custom CSS for styling. There will
                    likely be a lot of interactive chunks added in the future, and a method for logging in and
                    interacting with those projects (login won't be required for all). I'll be implementing a
                    database with PostgreSQL to store necessary information. I want this website to be more than MY
                    website.</div>
                <div class="card-footer">
                    <ul>
                        <li>Golange</li>
                        <li>JavaScript</li>
                        <li>Bootstrap</li>
                        <li>CSS & HTML</li>
                        <li>github.com/alexedwards/scs/v2 v2.5.0</li>
                        <li>github.com/justinas/nosurf</li>
                        <li>github.com/go-chi/chi v1.5.4</li>
                        <li>PostgreSQL</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Myself</h5>
                </div>
                <div class="card-body">I was an engineering student. I realized I could do more than that. I have a
                    mind for abstract reasoning, and I learn new things quickly. I push myself to learn new technologies
                    in order to, one day, create something magnificent. I study physics and mathematics on the side, and
                    love solving relative problems. I'm currently designing a physics engine to help visualize and
                    calculate problems pertaining to mechanics and control systems. This should help with developing
                    deeper components to control systems, and solve real-world problems. I am not a gamer per se, but I
                    also have a game in mind I would love to develop in C or C++, using the Ray-lib graphics library,
                    beside my very own physics engine. I also play the piano, and am an animal lover.</div>
                <div class="card-footer">
                    <ul>
                        <li>Mathematics</li>
                        <li>Physics</li>
                        <li>Embedded systems</li>
                        <li>Mechanics</li>
                        <li>Materials Science</li>
                        <li>Management</li>
                        <li>Musician</li>
                        <li>Top Gear</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">My Resume</h5>
                </div>
                <div class="card-body"> <img src="/static/images/resume/resume.png" alt="Placeholder Resume"
                        class="card-img-top img-thumbnail">
                </div>
                <div class="card-footer">
                    <a href="/static/images/resume/resume.pdf" target="_blank" class="btn btn-dark">Add it to your
                        pile</a>
                </div>
            </div>
        </div>

    </div>

    <div class="mt-4 mb-3 row">
        <div class="col text-center">
            <a href="/proj-main" class="btn btn-dark">Check out my projects</a>
        </div>
    </div>
</div>


{{end}}

{{define "js"}}

{{end}}