{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">About</h1>
            <h3>About this website</h3>
            <p>This website sucks. This website sucks. This website sucks. This website sucks. This website sucks. This
                website sucks. This website sucks. This website sucks. This website sucks. This website sucks. This
                website sucks. This website sucks. This website sucks. This website sucks. This website sucks.
            </p>
            <h3>About me</h3>
            <p>I don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I don't know what
                I'm doing. I don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I
                don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I don't know what
                I'm doing. I don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I
                don't know what I'm doing. I don't know what I'm doing.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="/proj-main" class="btn btn-dark">Check out my projects</a>
        </div>
    </div>

</div>

{{end}}

{{define "js"}}

{{end}}