{{template "base" .}}

{{define "content"}}
<div class="container ">
    <div class="row">
        <div class="col ml-2">
            <h1 class="mt-2">About</h1>
            <h3 class="mt-2">The Website</h3>
            <p>This website was developed using the Go programming language for its backend, and html template
                processing. The website uses <a href="https://getbootstrap.com/">Bootstrap</a>, and some custom CSS for
                styling. There will likely be a lot of interactive chunks added in the future, and a method for logging
                in and interacting with those projects (login won't be required for all). I'll be implementing a
                database with PostgreSQL to store necessary information. I want this website to be more than MY website.
            </p>
            <h3 class="mt-2">Myself</h3>
            <p>Placeholder: I don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I
                don't know what
                I'm doing. I don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I
                don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I don't know what
                I'm doing. I don't know what I'm doing. I don't know what I'm doing. I don't know what I'm doing. I
                don't know what I'm doing. I don't know what I'm doing.
            </p>
        </div>
        <div class="col-md-6 mt-5">
            <h3 >Placeholder Resume</h3>
            <div class="embed-responsive m-2">
                <iframe class="embed-responsive-item" src="/static/images/resume/resume.pdf" width="450" height="400">
                </iframe>
            </div>
        </div>
    </div>

</div>

<div class="mt-4 row">
    <div class="col text-center">
        <a href="/proj-main" class="btn btn-dark">Check out my projects</a>
    </div>
</div>

</div>

{{end}}

{{define "js"}}

{{end}}