{{template "base" .}}

{{define "content"}}

<div class="container my-form">

    <form action="/contact-complete">
        <!--method="POST"-->
        <fieldset>
            <legend class="mt-3">Let me know what you think!</legend>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="thoughts-wrapping">Your Thoughts?</span>
                <select id="cnt-thoughts" name="cnt-thoughts" class="form-select"
                    aria-describedby="An droption menu to rate the website." required>
                    <option selected>It's amazing!</option>
                    <option>It's good</option>
                    <option>Bad. Very bad.</option>
                </select>
            </div>

            <div class="input-group input-group-sm mb-3">

                <input type="text" id="ctc-name" name="ctc-name" class="form-control" placeholder="who are you?"
                    aria-describedby="An area to input your name or username." required>
                <span class="input-group-text" id="name-wrapping">is a Superstar!!!</span>
            </div>

            <div class="input-group input-group-sm mb-3">
                <input type="text" id="ctc-email1" name="ctc-email1" class="form-control"
                    aria-describedby="An area to input your first part of your email before the at symbol."
                    placeholder="email" required>
                <span class="input-group-text" id="email-wrapping">@</span>
                <input type="text" id="ctc-email2" name="ctc-email2" class="form-control"
                    aria-describedby="An area to input second part of your email, such as: at example dot com."
                    placeholder="example.com" pattern="\w+\.\w+">
            </div>

            <div class="input-group input-group-sm">
                <textarea class="form-control" id="ctc-msg" name="ctc-msg" style="resize: none;"
                    placeholder="Send me a message!"></textarea>
            </div>

            <div class="mb-3 mt-3">
                <div class="form-check" id="checkbox-div">
                    <input class="form-check-input" type="checkbox" id="ctc-checkbox" name="ctc-checkbox"
                        onclick="removeCheckbox()"
                        aria-describedby="Check box for claiming free money, but it will disappear when checked">
                    <label class="form-check-label" for="contact-checkbox">
                        Check to claim free money
                    </label>
                </div>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-dark">Submit</button>

            </div>

            <div class="mt-3">
                <a href="/about" class="btn btn-dark">Learn about me</a>

            </div>

        </fieldset>
    </form>
</div>

{{end}}

{{define "js"}}
<script type="text/javascript">
    let checkboxDiv = document.getElementById("checkbox-div");
    let checkboxInput = document.getElementById("ctc-checkbox");

    function removeCheckbox() {
        checkboxDiv.innerHTML = `<p>lol no</P>`;
        console.log("CLICKED");
    }

</script>
{{end}}