{{template "base" .}}

{{define "content"}}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <!-- LOADED DYNAMICALLY -->
    <div class="carousel-inner" id="slide-location">
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to my website</h1>
            <p>Welcome to my website. Once this website is fully fleshed out, it will contain full applications you'll
                be able to use and review. It's currently under development, but it's coming along. I hope it's
                not difficult to navigate. If you have any suggestions, you can contact me at aharon.meek@gmail.com. I'm
                have an open mind.</p>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col text-center">
            <a href="/proj-main" class="btn btn-dark">Check out my projects</a>
        </div>
    </div>

</div>

{{end}}

{{define "js"}}
<script type="text/javascript">
    var carouselLocation = document.getElementById("slide-location");

    // Data for the home page slides
    const slides = [
        {
            img_link: "../static/images/home/slide1.png",
            img_alt: "The first slide",
            caption1: "Hello!",
            caption2: undefined,
            time: 3000,
        },
        {
            img_link: "../static/images/home/slide2.png",
            img_alt: "The first slide",
            caption1: undefined,
            caption2: "It's mustard",
            time: 3000,
        },
        {
            img_link: "../static/images/home/slide3.png",
            img_alt: "The first slide",
            caption1: "This",
            caption2: "is text",
            time: 4000,
        },
        {
            img_link: "../static/images/home/slide4.png",
            img_alt: "The first slide",
            caption1: "Yes, these are PowerPoint slides",
            caption2: "Our products are grown within a laboratory from a nuclear substance",
            time: 5000,
        },
    ];

    function load() {
        let i = 0;
        slides.forEach(e => {
            carouselLocation.innerHTML += `
    <div class="carousel-item ${((i++) === 0 ? "active" : "")}" data-bs-interval="${e.time}">
            <img src="${e.img_link}" class="d-block w-100" alt="${e.img_alt}">
            <div class="carousel-caption d-none d-md-block">
                <h5>${(e.caption1 ? e.caption1 : "")}</h5>
                <p>${(e.caption2 ? e.caption2 : "")}</p>
            </div>
        </div>`;
        });
    }

    load();
</script>
{{end}}