{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1>Embedded Systems</h1>
            <p>I plan to develop useful technologies for the consumer, and the professional. My current partner uses
                integrators and differentiators to measure real-world data, which is processed to determine whether any
                action is needed. An example would be measuring ammonia levels in an aquarium, and having certain
                parameters automatically adjusted. The type of information one can gain from measuring, and processing
                data, is endless, and could determine ones success. Embedded systems are used in everything from your
                cars, to one day beyond our solar system.</p>
        </div>
    </div>

    <!-- LOADED DYNAMICALLY -->
    <div class="row g-3" id="emb-cards">
    </div>

    <div class="row mt-4 mb-3">
        <div class="col text-center">
            <a href="proj-main" class="btn btn-dark">Return to all projects</a>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script type="text/javascript">
    var cardsLocation = document.getElementById("emb-cards");

    // Data for the embedded systems project cards
    const cards = [
        {
            id: "emb",
            img_link: "../static/images/embedded/LED_MorseCode.png",
            img_alt: "STM32 MCU",
            title: "Morse Code STM32",
            desc: "A simple LED morse code application, which will blink your text into morse code",
            proj_link: "https://github.com/UrHumanToast/STM32_MorseCode"
        },
        {
            id: "emb",
            img_link: "../static/images/embedded/stm1.jpg",
            img_alt: "STM32 MCU Placeholder",
            title: "More to come",
            desc: "I love embedded systems",
            proj_link: "/placeholder"
        },
    ];

    function load() {
        cards.forEach(e => {
            cardsLocation.innerHTML += `
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="${e.img_link}" alt="${e.img_alt}" class="card-img-top img-thumbnail">
                    <div class="card-header">
                        <h5 class="card-title">${e.title}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">${e.desc}</p>
                    </div>
                    <div class="card-footer">
                        <a href="${e.proj_link}" class="btn btn-dark">Check it out!</a>
                    </div>
                </div>
            </div>`;
        });
    }

    load();
</script>
{{end}}