{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1 id="app-title">Software & Applications</h1>
            <p>
                Most of my work pertains to back-end development. I've worked on banking software, for customers and
                employee accounts, product inventory management, password managers, websites, and games. I enjoy
                creating software that actually does something, and has purpose. Sometimes the projects to reach past
                proof of concept, but they always have function and are implemented to perform a useful task.
            </p>
        </div>
    </div>

    <!-- LOADED DYNAMICALLY -->
    <div class="row g-3" id="app-cards">
    </div>

    <div class="row mt-4 mb-3">
        <div class="col text-center">
            <a href="proj-main" class="btn btn-dark">Return to all projects</a>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script type="text/javascript">
    var cardsLocation = document.getElementById("app-cards");

    // Data for the application projects cards
    const cards = [
        {
            img_link: "../static/images/apps/EatSleepRetreat.png",
            img_alt: "Bookings application",
            title: "Eat - Sleep- Retreat (WIP)",
            desc: "An application to learn about, and book your stay at a resort",
            proj_link: "https://still-river-43293.pktriot.net/"

        },
        {
            img_link: "../static/images/apps/AirHockey.png",
            img_alt: "Air Hockey",
            title: "It's Air Hockey (WIP)",
            desc: "Play Air Hockey with a friend with this pong-esque version",
            proj_link: "https://github.com/UrHumanToast/ScreenHockey"

        },
        {
            img_link: "../static/images/apps/PasswordManager.png",
            img_alt: "Password Manager",
            title: "My first password manager",
            desc: "This was my first go at developing a simple application on my own. It's a password manager.. ",
            proj_link: "https://github.com/UrHumanToast/OldPasswordManager"

        },
        {
            img_link: "../static/images/apps/OldPersonalWebsite.png",
            img_alt: "Old Personal Website",
            title: "My first personal website",
            desc: "This was my first personal website I created for my web programming course. It's no longer up, but the code is available.",
            proj_link: "https://github.com/UrHumanToast/PersonalWebsite"

        },
        {
            img_link: "../static/images/apps/EatSleepRetreat.png",
            img_alt: "Code",
            title: "More to come",
            desc: "I love software development",
            proj_link: "/placeholder"

        },
    ];

    function load() {
        cards.forEach(e => {
            cardsLocation.innerHTML += `
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="${e.img_link}" alt="${e.img_alt}" class="card-img-top img-thumbnail">
                    <div class="card-header">
                        <h5 class="card-title">${e.title}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">${e.desc}</p>
                    </div>
                    <div class="card-footer">
                        <a href="${e.proj_link}" class="btn btn-dark">Check it out!</a>
                    </div>
                </div>
            </div>`;
        });
    }

    load();
</script>
{{end}}