{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1>Electronics (Nothing to see just yet)</h1>
            <p>
                I am an electronics enthusiast, and study on the side. I mainly study for the purpose of developing
                solutions to problems which typically require recording and processing larges amounts of data. The
                benefit to using electronics is that they are programmable, and the process is automated. Beyond
                embedded systems, I am developing devices in home security. If I succeed, I will have something many may
                find
                intriguing and useful; and something far more robust, and secure, as well.
            </p>
        </div>
    </div>

    <!-- LOADED DYNAMICALLY -->
    <div class="row g-3" id="elc-cards">
    </div>

    <div class="row mt-4 mb-3">
        <div class="col text-center">
            <a href="proj-main" class="btn btn-dark">Return to all projects</a>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script type="text/javascript">
    var cardsLocation = document.getElementById("elc-cards");

    // Data for the electronic project cards
    const cards = [
        {
            id: "elc",
            img_link: "../static/images/electronics/arduino1.jpg",
            img_alt: "Placeholder Electronics",
            title: "Placeholder electronics",
            desc: "This peice of electronics doesn't actually do anything (and is completely unrealistic). I'll put something real up soon.",
            proj_link: "/placeholder"

        },
    ];

    function load() {
        cards.forEach(e => {
            cardsLocation.innerHTML += `
            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                <div class="card">
                    <img src="${e.img_link}" alt="${e.img_alt}" class="card-img-top img-thumbnail">
                    <div class="card-header">
                        <h5 class="card-title">${e.title}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">${e.desc}</p>
                    </div>
                    <div class="card-footer">
                        <a href="${e.proj_link}" class="btn btn-dark">Check it out!</a>
                    </div>
                </div>
            </div>`;
        });
    }

    load();
</script>
{{end}}